.catalog {
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  /* background-color: rgba(204, 204, 204, 0.301); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.card {
  width: 30rem;
  height: 37rem;
}

.pagination {
  margin:10px;
  display:flex;
  justify-content:center;
}

.pages pagination {
  padding: 10px;
}
#header-text {
  text-align:center;
}

button {
  margin:5px;
}

.form-style {
  display:flex;
  justify-content:center;
}
.header-style {
  display:flex;
  justify-content:center;
}

h3 {
  padding-top: 10px;
  font-size: 32px;
  text-align:center;
  color: inherit;
}

.beer-content {
  font-size:12px;
  display: inline-flex;
  flex-direction: row;
}

.beer-list {
  margin:10px;
}

ul {
  padding-left:3px;
}
li {
  padding-left:2px;
  padding-top:3px;
  margin-left: 12px;
}

span {
  padding:10px;
}

.card-title {
  text-align:center;
}
.image {
  height: 225px;
  width: 80px;
  display:flex;
}

.beer-details {
  display:flex;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

.beer {
  display: inline;
  color: cornflowerblue;
  font-weight: bold;
  animation: colorchange 10s infinite alternate;
}

@-webkit-keyframes colorchange {
  25% {

    color: orange;
  }

  50% {

    color: green;
  }

  75% {

    color: red;
  }
}
